.Board {
    background-color: #282c34;
    min-height: 100vh;
    padding: 3vh;
  }
  
  .Board-header {
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  
  
  
 
  