.quizCard{
    color: white;
    font-size: 4.5vh;
    margin: 6vh 0vh 6vh;
}

.questionHeader{
    border:2px solid white;
    border-radius: 15px;
    display: inline-block;
    padding: 1vh;
    width: 80vw;
    margin: 1vh;
}

.answers{
    border-top: 1px solid lavender;
    border-bottom: 1px solid lavender;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.answerItem{
    border:1px solid white;
    display: inline-block;
    font-size: 18px;
    padding:1vh;
    width: 35%;
    margin: 3%;
    border-radius: 15px;
}

.answerItem:hover{
    cursor: pointer;
}

.is-selected{
    background-color: rgb(221, 166, 28);
}

.correct{
    background-color: green;
}

.notcorrect{
    background-color: red;
}