.questionHeader{
    border:1px solid white;
    border-radius: 15px;
    display: inline-block;
    padding: 1vh;
    width: 80vw;
    margin: 1vh;
}

.answers{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.answerItem{
    border:1px solid white;
    display: inline-block;
    font-size: 18px;
    padding:1vh;
    width: 35%;
    margin: 3%;
    border-radius: 15px;
}

.answerItem:hover{
    cursor: pointer;
}